<div class="shadow rounded p-5 col-6">
  <%= simple_form_for(@post) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :title %>
      <%= f.input :body %>
      <%= f.input :expires_at, collection: [['5 seconds', 5], ['30 seconds', 30], ['1 minute', 60], ['2 minutes', 120]], prompt: 'Select duration' %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, class: 'btn btn-outline-success btn-sm' %>
    </div>
  <% end %>
</div>
